*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar{
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  height: 100px;
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
